* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-image: radial-gradient( circle 703px at 49.8% 26.8%,  rgb(255, 198, 128) 0%, rgba(189, 241, 250) 90% );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 15rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .wrapper {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  animation: roll 5s linear infinite;
}
body .wrapper .group {
  transform-origin: center;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  position: absolute;
}
body .wrapper .group:nth-child(2) {
  transform: rotatez(45deg);
}
body .wrapper .group:nth-child(3) {
  transform: rotatez(180deg);
}
body .wrapper .group:nth-child(4) {
  transform: rotatez(225deg);
}
body .wrapper .circle {
  transform-origin: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.6);
}
body .wrapper .circle:nth-child(1) {
  animation: movex 10s ease-out infinite;
}
body .wrapper .circle:nth-child(2) {
  animation: movey 10s ease-out infinite;
}

@keyframes movex {
  from {
    transform: translate(0, 0);
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.6);
  }
  50% {
    transform: translate(40px, 0);
    background: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
  }
  55% {
    transform: translate(40px, 0);
  }
  95% {
    transform: translate(0, 0);
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.6);
  }
}
@keyframes movey {
  from {
    transform: translate(0, 0);
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.6);
  }
  50% {
    transform: translate(0, 40px);
    background: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
  }
  55% {
    transform: translate(0, 40px);
  }
  95% {
    transform: translate(0, 0);
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.6);
  }
}
@keyframes roll {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotatez(360deg);
  }
}
.text {
  margin: 3.5rem auto 0;
  width: 200px;
  color: #000000;
  font-weight: bold;
  overflow: hidden;
}
.text > div {
  display: flex;
  animation: text-move 10s linear infinite;
}
.text > div p {
  min-width: 200px;
  text-align: center;
}

@keyframes text-move {
  from {
    transform: translatex(0);
  }
  55% {
    transform: translatex(0);
  }
  56% {
    transform: translatex(-200px);
  }
  99% {
    transform: translatex(-200px);
  }
  to {
    transform: translatex(-400px);
  }
}