* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body {
  background: rgb(203,244,255);
  background: -moz-linear-gradient(90deg, rgba(203,244,255,1) 0%, rgba(255, 218, 131, 0.948) 50%, rgba(203,244,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(203,244,255,1) 0%, rgba(255,217,131,1) 50%, rgba(203,244,255,1) 100%);
  background: linear-gradient(90deg, rgba(203,244,255,1) 0%, rgba(255,217,131,1) 50%, rgba(203,244,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbf4ff",endColorstr="#cbf4ff",GradientType=1);
  margin: 0 auto;
  padding: 0 auto;
}

.header {
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
  overflow: hidden;
  font-size: 1.2rem;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  left: 0;
  padding: 25px 40px 25px 50px;
  height: auto;
  top: 0;
  z-index: 200;
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: right;
}

.navbar-links li a {
  display: flex;
  color: rgb(0, 0, 0);
  text-align: right;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 5px;
}

li a:hover {
  background: rgba(0, 0, 0, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09); 
  color: #000000;
  font-weight: 600;
  border-radius: 15px;
}

li a:active {
  color: #ffffff;
}

.active {
  background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
}
.yoga {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 0 auto;
  margin-top: 130px;
}

.meditate p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px;
  padding: 0 auto;
  margin-top: 5px;
  margin-bottom: 40px;
}

.meditate a{
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: center;
  text-decoration: none;
  color:black;
  background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
  border-radius: 15px;
  padding: 10px 10px;
}
.meditate a:hover {
  background: rgba(0, 0, 0, 0.227);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  color: #000000;
  font-weight: 600;
  border-radius: 15px;
}

.music {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 30px 50px;
}

.content {
  display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
  background: rgba(201, 254, 255, 0.573);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  margin: 20px 50px 30px 50px;
  padding: 5px;
  border-radius: 10px;
}

.h1 {
  font-size:large;
  font-style: bold;
  width: 500px;
}

.content1 {
  display: flex;
  flex-direction: column;
  padding: 0% 10% 0% 30%;
	justify-content: center;
	align-items: center;
  text-align: center;
  background: rgba(201, 254, 255, 0.573);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  margin: 20px 50px 30px 50px;
  padding: 5px;
  border-radius: 10px;
}
.h2 {
  font-size:large;
  font-style: bold;
  padding: 15px 0 15px 0;
}

.content1 p{
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  padding: 0 20px 15px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.content p{
  text-align: left;
  margin: 0 auto;
  line-height: 1.5;
  padding: 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;

}

footer p{
  text-align: center;
  padding-top: 20px;
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  height: 100px;
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

footer a:hover{
  color: rgb(0, 174, 255);
}

.toggle-btn {
  text-decoration: none;
  transform: rotate(180deg);
  position: absolute;
  top: 45px;
  right: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  color: #000000;
}

.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  transform-origin: 1px;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: flex;
    transform: rotate(0deg);
    transition: all 0.2s ease;
    
  }

  .toggle-btn:hover {
    opacity: 1;
    transform: rotate(-90deg);
  }


  .navbar-links {
    display: none;
    width: 100%;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li{
    display: flex;
    width: 100%;
  }

  .navbar-links ul li a{
    text-align: center;
    padding: 5px;
    width: 100%;
  }

  .navbar-links.responsive {
    display: flex;
  }
}

@media (max-width: 800px) {
  .yoga img{
    width: 100%;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 0% 10% 0% 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(201, 254, 255, 0.573);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    margin: 20px 50px 30px 50px;
    padding: 5px;
    border-radius: 10px;
  }
  .h1 {
    font-size:large;
    font-style: bold;
    padding: 15px 0 15px 0;
  }
}